# FLAML
@ https://github.com/microsoft/FLAML

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import model_selection
from sklearn.metrics import accuracy_score

import joblib

from flaml import AutoML

import warnings
warnings.filterwarnings("ignore")

/opt/homebrew/lib/python3.9/site-packages/xgboost/compat.py:31: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

## Load Data

In [2]:
data_df = pd.read_csv('titanic_data.csv')
data_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Cabin,Embarked,Family
0,1,0,3,1,0,1,0,6,0,1
1,2,1,1,3,1,2,4,3,1,1
2,3,1,3,2,1,1,1,6,0,0
3,4,1,1,3,1,2,4,3,0,1
4,5,0,3,1,0,2,1,6,0,0

In [3]:
pipe = joblib.load(f'titanic_pipe.pkl')
pipe

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['Pclass', 'Name', 'Sex',
                                                   'Age', 'Fare', 'Cabin',
                                                   'Embarked', 'Family'])]))])

In [4]:
titanic_X = data_df.drop(['PassengerId','Survived'], axis=1)
titanic_Y = np.array(data_df[['Survived']])

x_train, x_test, y_train, y_test = \
   model_selection.train_test_split(titanic_X, titanic_Y, test_size=0.3, random_state=0)

x_train = pipe.fit_transform(x_train)
x_test = pipe.transform(x_test)

## Model Fitting

In [5]:
automl = AutoML()
automl.fit(x_train, y_train, task="classification", verbose=0)

In [6]:
print('Accuracy Score: ', accuracy_score(automl.predict(x_test), y_test))

Accuracy Score:  0.8432835820895522

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=250b4b06-da8a-4228-b639-3bdc3d16f362' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>